## LAB 10

In [2]:
import pandas as pa
import numpy as np

1. Create the following:
a.empty series
b.series from an array
c.series from dictionary
d.scalar series

In [61]:
#empty series
s1 = pa.Series()
print(s1)

Series([], dtype: float64)

<ipython-input-61-74f7b840a9aa>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s1 = pa.Series()

In [25]:
#series from an array
s2 = np.array([1,2,3,4,5])
d1 = pa.Series(s2)
print(d1)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [24]:
#series from dictionary
s3 = {'a':1,'b':2,'c':3}
d2 = pa.Series(s3)
print(d2)

a    1
b    2
c    3
dtype: int64

In [60]:

#series from scalar series
s = pa.Series(1,index = [1,2,3,4,5,6])
print(s)

1    1
2    1
3    1
4    1
5    1
6    1
dtype: int64

2. Create indexed series for above b-d points

In [3]:
s2 = np.array([1,2,3,4,5])
d1 = pa.Series(s2)
I1 = pa.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
print(I1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
s3 = {'a':1,'b':2,'c':3}
I2 = pa.Series( s3, index = ['a','b','c'])
print(I2)

a    1
b    2
c    3
dtype: int64

In [11]:
s = pa.Series(1,index = [2,3,4,5,6])
print(s)

2    1
3    1
4    1
5    1
6    1
dtype: int64

3. Retrieve elements from the series using 
a.Index names
b.Index numbers
c.Slicing

In [13]:
s = pa.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[1])
print(s['d'])
print(s[:4])

2
4
a    1
b    2
c    3
d    4
dtype: int64

4. Create a DataFrame using the following:
a.Empty DataFrame
b.DataFrame using list
c.DataFrame using dictionary
d.DataFrame using series

In [20]:
#Empty DataFrame
df = pa.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [19]:
#DataFrame using list 
d1 = [1,2,3,4,5]
df1 = pa.DataFrame(d1)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
#DataFrame using dictionary 
d2 = {'Name' : ['Tisha','Raghav'], 'Course' : ['B.Tech','B.Tech']}
df2 = pa.DataFrame(d2)
print(df2)

     Name  Course
0   Tisha  B.Tech
1  Raghav  B.Tech

In [21]:
#DataFrame using series
d = {'One' :pa.Series([1,2,3], index = ['a','b','c']),
    'Two' :pa.Series([4,5,6], index = ['d','e','f'])}
df3 = pa.DataFrame(d)
print(df3)

   One  Two
a  1.0  NaN
b  2.0  NaN
c  3.0  NaN
d  NaN  4.0
e  NaN  5.0
f  NaN  6.0

5. Create 3-4 four colums in a DataFrame for Q4 b-d points

In [17]:

d1 = [1,2,3,4,5]
df1 = pa.DataFrame(d1)
print ("Adding a new column by passing as Series:")
df1['tisha'] = pa.Series([10,20,30],index=[1,2,3])
print (df1)

Adding a new column by passing as Series:
   0  tisha
0  1    NaN
1  2   10.0
2  3   20.0
3  4   30.0
4  5    NaN

In [42]:
d2 = {'Name' : ['Tisha','Raghav'], 'Course' : ['B.Tech','B.Tech']}
df2 = pa.DataFrame(d2)
print ("Adding a new column by passing as Series:")
df2['Spc.'] = pa.Series(["CSTI","GAG"], index = ['Name','Course'])
print(df2)

Adding a new column by passing as Series:
     Name  Course Spc.
0   Tisha  B.Tech  NaN
1  Raghav  B.Tech  NaN

In [3]:
d = {'One' :pa.Series([0,1,2], index = ['a','b','c']),
    'Two' :pa.Series([3,4,5], index = ['d','e','f'])}
df3 = pa.DataFrame(d)
print ("Adding a new column by passing as Series:")
df3['Three'] = pa.Series([6,7,8,9,10,11], index = ['a','b','c','d','e','f'])
print(df3)

Adding a new column by passing as Series:
   One  Two  Three
a  0.0  NaN      6
b  1.0  NaN      7
c  2.0  NaN      8
d  NaN  3.0      9
e  NaN  4.0     10
f  NaN  5.0     11

6. Add index to all the rows in Q5

In [31]:
print (df1)
print("After adding index : ")
di3 = pa.DataFrame(df1, index = ['A','B','C'])
print(di3)

   0  tisha
0  1    NaN
1  2   10.0
2  3   20.0
3  4   30.0
4  5    NaN
After adding index :
    0  tisha
A NaN    NaN
B NaN    NaN
C NaN    NaN

In [14]:
d2 = {'Name' : ['Tisha','Raghav'], 'Course' : ['B.Tech','B.Tech']}
df2 = pa.DataFrame(d2)
print ("Adding a new column by passing as Series:")
df2['Spc.'] = pa.Series(["CSTI","GAG"], index = ['Name','Course'])
print(df2)

print("\n After adding index : \n")

di2 = pa.DataFrame(df2, index = [1,2,3])
print(di2)

Adding a new column by passing as Series:
     Name  Course Spc.
0   Tisha  B.Tech  NaN
1  Raghav  B.Tech  NaN

 After adding index :

     Name  Course Spc.
1  Raghav  B.Tech  NaN
2     NaN     NaN  NaN
3     NaN     NaN  NaN

In [9]:
dindex1 = {'One' :pa.Series([0,1,2], index = ['a','b','c']),
    'Two' :pa.Series([3,4,5], index = ['d','e','f']),
      'Three': pa.Series([6,7,8,9,10,11], index = ['a','b','c','d','e','f'])}
dindex_1 = pa.DataFrame(dindex1)

print("After adding index : ")
di1 = pa.DataFrame(dindex_1, index = ['A','B','C','D','E'])
print(di1)

Adding a new column by passing as Series:
After adding index :
   One  Two  Three
A  NaN  NaN    NaN
B  NaN  NaN    NaN
C  NaN  NaN    NaN
D  NaN  NaN    NaN
E  NaN  NaN    NaN

7. Display all the values from the DataFrame mentioned in Q6 using index and index name for :
   a.Second row values
   b.Second column values

In [ ]:
print (df['one'])

8. Perform slicing by displaying 3rd and 4th row on the DataFrame

In [16]:
di1 = pa.DataFrame(d)
print (di1[2:4])

   One  Two
c  2.0  NaN
d  NaN  3.0

9. Delete a row

In [17]:
di2 = di1.drop('a')
print(di2)

   One  Two
b  1.0  NaN
c  2.0  NaN
d  NaN  3.0
e  NaN  4.0
f  NaN  5.0

10. Delete a column

In [27]:
print ("Deleting the first column using DEL function:")
del df2['Course']
print (df2)

Deleting the first column using DEL function:
  Spc.
0  NaN
1  NaN