## Q1. WHAT IS PYTHON?

In [6]:
print("Python is a programming languague for web developnment, software developnment, scripting and mathematical operators.")

Python is a programming languague for web developnment, software developnment, scripting and mathematical operators.

## Q2. 5 AREAS WHERE PYTHON CAN BE USED?

In [22]:
print("1. Web Development. 2. Game Development. 3. Machine Learning and Artificial Intelligence. 4. Business Applications. 5. Audio and Video Applications")

1. Web Development. 2. Game Development. 3. Machine Learning and Artificial Intelligence. 4. Business Applications. 5. Audio and Video Applications

## Q3. WAP check 10 is geater than 2?

In [2]:
x = 10;
if x > 2:
    print("True")
else:
    print("False")

True

## Q4. Print 3 variables x, y and z having data type int, string and boolean?

In [13]:
 x = 10; y = "This is a string."; z = True;
print(x); print(y); print(z);

10
This is a string
True

## Q5. Print 3 variables x, y and z using assignment with multiple assignment?

In [17]:
x, y, z = 10, "This is a string.", True;
print(x); print(y); print(z);

10
This is a string.
True

## Q6. Comment Q1 and Q2 with their respective questions?

In [21]:
""" Q1.WHAT IS PYTHON? 
# Q2.5 AREAS WHERE PYTHON CAN BE USED?"""

' Q1.WHAT IS PYTHON? \n# Q2.5 AREAS WHERE PYTHON CAN BE USED?'

## Q7. Print the data type of variable defined in Q4?

In [7]:
 x = 10; y = "This is a string."; z = True;
print("Data type of x is ", type(x)); print("Data type of y is ",type(y)); print("Data type of z is ",type(z));

Data type of x is  <class 'int'>
Data type of y is  <class 'str'>
Data type of z is  <class 'bool'>

## Q8. Print the variales fullfilling the criteria abcd of variable name?

In [9]:
abcd = 10
a_cd = 11
a123 = 12
A_Bd = 13
_bcd = 14
print(abcd," ",a_cd," ",a123," ",A_Bd," ",_bcd)

10   11   12   13   14

## Q9. Write a program to print multiple values?

In [10]:
abcd = 10
a_cd = 11
a123 = 12
A_Bd = 13
_bcd = 14
print(abcd," ",a_cd," ",a123," ",A_Bd," ",_bcd)

10   11   12   13   14

## Q10. Print the datatype of the following?

In [21]:
A = "Hello"
B = 20.5
C = ["a", "b", "c"]
D = range(6)
E = {1:"apple", 2:"mango"}
F = True
G = list(("a", "b", "c"))
H = tuple(("a", "b", "c"))
I = dict(key = "1", value = "apple")
J = set(("a", "b", "c"))
K = bool(5)
print("Data type of A is ",type(A)); print("Data type of B is ",type(B)); print("Data type of C is ",type(C));
print("Data type of D is ",type(D)); print("Data type of E is ",type(E)); print("Data type of F is ",type(F));
print("Data type of G is ",type(G)); print("Data type of H is ",type(H)); print("Data type of I is ",type(I));
print("Data type of J is ",type(J)); print("Data type of k is ",type(K));

Data type of A is  <class 'str'>
Data type of B is  <class 'float'>
Data type of C is  <class 'list'>
Data type of D is  <class 'range'>
Data type of E is  <class 'dict'>
Data type of F is  <class 'bool'>
Data type of G is  <class 'list'>
Data type of H is  <class 'tuple'>
Data type of I is  <class 'dict'>
Data type of J is  <class 'set'>
Data type of k is  <class 'bool'>

## Q11. Print 3rd, 4th and 5th character from the last?

In [1]:
x = "YASH YADAV";
print(x[-3]);
print(x[-4]);
print(x[-5]);

D
A
Y

## Q12. Print 3rd, 4th and 5th character from the start?

In [3]:
x = "YASH YADAV"
print(x[3])
print(x[4])
print(x[5])

H

Y